@model BrewrMVC.Models.BrewDetailsViewModel

@{
    ViewBag.Title = "Brew Characteristics";
    ViewBag.MashModel = new int[] {
        Model.MashesObject.Reading1,
        Model.MashesObject.Reading2,
        Model.MashesObject.Reading3,
        Model.MashesObject.Reading4,
        Model.MashesObject.Reading5,
        Model.MashesObject.Reading6,
        Model.MashesObject.FinalReading,
    };
}

@section styles {
    <link href="~/Content/data/graphdata.css" rel="stylesheet" />
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@Html.DisplayFor(model => model.BrewsObject.Name)<span>(@Html.DisplayFor(model => model.BrewsObject.Type))</span></h1>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Brew Date</th>
            <th>Secondaried</th>
            <th>Bottled</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.BrewsObject.BrewDate)</td>
            <td>@Html.DisplayFor(model => model.BrewsObject.Secondaried)</td>
            <td>@Html.DisplayFor(model => model.BrewsObject.Bottled)</td>
        </tr>
    </tbody>
</table>

<div id="dataContainer">
    <h3>Fermentation Characteristics</h3>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Initial Gravity</th>
                <th>Original Gravity</th>
                <th>Final Gravity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.FermentsObject.InitialGravity)</td>
                <td>@Html.DisplayFor(model => model.FermentsObject.OriginalGravity)</td>
                <td>@Html.DisplayFor(model => model.FermentsObject.FinalGravity)</td>
            </tr>
        </tbody>
    </table>

    <h3>Mash Temperature</h3>
    <hr />
</div>

@section scripts 
{
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script>
        var mashModel = @Html.Raw(Json.Encode(ViewBag.MashModel));
        var mashData = [];
        for(var i = 0; i < mashModel.length; i++) {
            mashData.push({
                index: i,
                temp: mashModel[i]
            });      
        }
    </script>
    <script src="~/Scripts/graph.js"></script>
}

