@model BrewrMVC.Models.BrewDetailsViewModel

@{
    ViewBag.Title = "Brew Characteristics";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@Html.DisplayFor(model => model.Name)<span>(@Html.DisplayFor(model => model.Type))</span></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div>
    <h4>Fermentation Characteristics</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InitialGravity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialGravity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalGravity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalGravity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalGravity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalGravity)
        </dd>
    </dl>

    <h4>Mash Characteristics</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MashTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MashTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MashWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MashWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetTemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetTemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reading1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reading1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reading2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reading2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reading3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reading3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reading4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reading4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reading5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reading5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reading6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reading6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalReading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalReading)
        </dd>

    </dl>
</div>

