@model BrewrMVC.Models.BrewDetailsViewModel

@{
    ViewBag.Title = "Brew Characteristics";
    ViewBag.MashModel = new int[] {
        Model.TargetTemp, Model.Reading1, Model.Reading2, Model.Reading3, Model.Reading4, Model.Reading5, Model.Reading6, Model.FinalReading,
    };
}

@section styles {
    <link href="~/Content/data/graphdata.css" rel="stylesheet" />
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@Html.DisplayFor(model => model.Name)<span>(@Html.DisplayFor(model => model.Type))</span></h1>
    </div>
</div>

<div id="dataContainer">
    <h4>Fermentation Characteristics</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InitialGravity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialGravity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalGravity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalGravity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalGravity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalGravity)
        </dd>
    </dl>

    <h4>Mash Characteristics</h4>
    <hr />
</div>

@section scripts 
{
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script>
        var mashModel = @Html.Raw(Json.Encode(ViewBag.MashModel));
        var mashData = [];
        for(var i = 0; i < mashModel.length; i++) {
            mashData.push({
                index: i,
                temp: mashModel[i]
            });      
        }
    </script>
    <script src="~/Scripts/graph.js"></script>
}

