<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brew Better Beer | Brewr</title>
    @Styles.Render("~/Content/css")

</head>
<body class="homeBody">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-beer fa-2"></i>Brewr</a>
            </div>
            <div class="navbar-form navbar-right">
                @Html.ActionLink("Sign In", "Login", "Account", null, new { @class = "btn btn-success" })
                @Html.ActionLink("Sign Up", "Register", "Account", null, new { @class = "btn btn-default" })
            </div> 
        </div>
    </nav>    
    
        <div class="jumbotron text-center">
            
                <h1 class="text-center">Brew Better Beer</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
            </div>
        
        @RenderBody()
   


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>