@model IEnumerable<BrewrMVC.Models.Brew>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrewDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Secondaried)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bottled)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrewDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Secondaried)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bottled)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class="btn btn-warning"})           
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
<hr />

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
